---
interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <link href="https://fonts.cdnfonts.com/css/against-2" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    outline: 0;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
  }

  textarea,
  input {
    outline: none;
  }

  html,
  body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    margin: 0;

    min-height: 450vh;

    background-color: rgb(36, 36, 36);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #888;
  }

  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(225, 207, 255);
  }
</style>
